/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-mag-2015, 12.14.41
    Author     : Stefano Gabriele
    email      : stefano_gabriele@yahoo.it
*/

/*BROWSER RESETS ____________________________________________________________ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*_____________________________________________________________ BROWSER RESETS*/

b {
    font-weight: bold;
}

html,body{
    width: 100%;
    height: 100%;    
    font-family: Segoe UI,Arial,sans-serif;
    overflow: hidden;
    background: linear-gradient( #00000f,  #8080ff);
}

/* 3D (Contains canvas) _____________________________________________________ */
#_3D {}

/* TITLE ____________________________________________________________________ */
#mlj-title {
    color: white;
    background-image: url('../img/favicon.png');
    background-size: auto 40px;
    background-repeat: no-repeat;
    padding-left: 70px;    
    line-height: 40px;    
    font-weight: bold;
    font-size: 14pt;
    opacity: 0.8;
}

/* TOOLS PANE _______________________________________________________________ */
#mlj-tools-pane {
    /*position: absolute;*/
    min-width: 200px;
    width: 400px;
    min-width: 400px;
    max-width: 600px;
    height: 100%;
    /*background-color: #0F2D60;*/
    border-right: gainsboro ridge;
}

/* Buttons ____________________________________________________________ */

.mlj-button img {
    width: 16px;
    height: 16px;
}

/* SEARCH WIDGET ____________________________________________________________ */
#mlj-search-widget {                
    /*background-color: gainsboro;*/          
    padding: 5px;    
    width: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#mlj-search-widget input { 
    width: 100%;    
    padding: 5px;   
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* LAYERS WIDGET ____________________________________________________________ */

#mlj-layers {        
    overflow: auto;    
    height: 100%;
}

#mlj-layers .mlj-layers-entry {    
    height: 24px;
    /*    margin-top: 4px; */
    position: relative;
}

#mlj-layers .mlj-layer {       
    border: solid 1px rgba(244,244,244,0.0);    
    top:0px;
    left: 30px;
    right: 0;
    height: 100%;    
    line-height: 24px;    
}

#mlj-layers .mlj-layer.selected {
    /*   font-weight: bold;
       color: green; */
    background-color: gainsboro;
}

#mlj-layers .mlj-layer:hover {
    border: solid 1px rgba(244,244,244,0.8);
    cursor: pointer;
}

#mlj-layers .mlj-eye {
    height: 24px;
    width: 24px;
    margin-left: 5px;
    background-size: 16px 16px;
    background-color: rgba(255,255,255,0.7); 
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;    
}

#mlj-layers .mlj-eye.show {
    background-image: url('../img/icons/IcoMoon-Free-master/PNG/48px/0207-eye.png');    
}

#mlj-layers .mlj-eye.hide {
    background-image: url('../img/icons/IcoMoon-Free-master/PNG/48px/0210-eye-blocked.png');        
}


/* LOG WIDGET _______________________________________________________________ */

#mlj-log-widget  {    
    position: relative;
    width: 100%;
    height: 100%;         
    background-color: rgba(0,0,0,0.5);
}

#mlj-log-widget textarea{
    position: absolute;
    background:none;
    color: white;
    border: none;    
    margin: 0;
    resize: none;
    padding: 5px;
    top:0; bottom:0;
    width: 100%;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* INFO WIDGET ______________________________________________________________ */
#mlj-info {    
    /*overflow: auto;*/
    width: 450px;
    height: 100px;    
    background-color: rgba(0,0,0,0.5);    
    color: white;
}

#mlj-info p {
    margin: 5px;
}

/* MeshLabJs Toolbar style __________________________________________________ */
.mjs-toolbar {
    padding: 6px 5px;
    background-color: gainsboro;
    border-bottom: darkgray thin solid; 
}

.mjs-toolbar button {
    margin-right:2px;
    border: solid thin darkgray;
    border-radius: 2px;
}

/* MeshLabJs global styles __________________________________________________ */

.ui-resizable-s { 
    cursor: s-resize;                                 
    left: 0; 
    right: 0;
    bottom:0;
    height: 4px;
    background-color: darkgray;
    opacity: 0.5;    
}

.ui-resizable-s:hover {     
    background-color: black;
    opacity: 0.5;
    visibility:  visible;
}

.ui-tabs .ui-tabs-panel {
    padding: 0.5em 0;
}

.ui-accordion-header .mlj-button {
    margin-left: 5px; 
}

.mlj-toggle-on {
    background: rgb(169,219,128);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNhOWRiODAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNzdhZDYyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(169,219,128,1) 0%, rgba(119,173,98,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(169,219,128,1)), color-stop(100%,rgba(119,173,98,1)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(169,219,128,1) 0%,rgba(119,173,98,1) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(169,219,128,1) 0%,rgba(119,173,98,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(169,219,128,1) 0%,rgba(119,173,98,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(169,219,128,1) 0%,rgba(119,173,98,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#77ad62',GradientType=1 );
    border: solid thin green;
}

.mlj-color-picker {    
    height: 20px;    
    display: table;   
    border: darkgray thin solid;
    border-radius: 2px;
}

.mlj-picker {        
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:70px;
    display: table-cell;
    border: none;
    padding: 4px;
}

.mlj-picker-preview {    
    width:22px;    
    background-color: red;
    display: table-cell;
    border-left: solid 1px darkgray;    
}

.colpick {
    z-index: 999;
}
