html,body{
	width: 100%;
	height: 100%;
	background: linear-gradient( #00000f,  #8080ff);
	overflow: hidden;
}
/*div.renderingMesh{
}*/
fieldset:first-child {float:none;}
fieldset {
 	border: 1px solid white;
	width: 18%;
	height: auto;
	float:top;
	float: right;
	top: 12%;
 	right: 4px;
 	position: absolute;
 	/*color: #00ff00;*/
 	color: #d0d0d0;
	background-color: #00000f;

}

label{
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}

canvas{
		width: 100%;
	height: 100%;  
	float:top;
/*    background: linear-gradient( #00000f,  #8080ff);
	background-color: #202020;*/
}
.dg.main{
	border: 0px solid white;
	width: auto;
	height:auto;
	float:top;
	float: left;
	top: 1%;
 	left: 0.5%;
 	vertical-align: right;
 	position: absolute;
}
textarea#infoMesh{
	border: 1px solid white;
	width: 20%;
	height: 9%;
	float:top;
	float: right;
	top: 1%;
 	right: 5px;
 	vertical-align: right;
 	position: absolute;
 	resize:none;
 	/*color: #00ff00;*/
 	color: #d0d0d0;
	background-color: #00000f;
 	/*padding: 2px;*/
}
textarea#log{
	border: 1px solid white;
	width: 20%;
	height: 9%;
	float:bottom;
	float: right;
	bottom: 1%;
 	right: 5px;
 	vertical-align: right;
 	position: absolute;
 	resize:none;
 	color: #d0d0d0;
	background-color: #00000f;
}

