*.bc
/sources/*.o
/sources/*.bc
!/sources/lib/*.bc

sources/FilterTest.pro.user
sources/.qmake.stash
sources/FilterTest
sources/Makefile

nbproject/

doc/html/

js/generated/MeshLabCppCore.js.mem
js/generated/MeshLabCppCore.js

build-*/
*.pdb
*.tlog
/sources/.vs
/sources/debug
/sources/*.obj
*.vscode
*.vcxproj
