* { 
-moz-box-sizing: border-box; 
-webkit-box-sizing: border-box; 
box-sizing: border-box; 
}
html,body{
	width: 99%;
	height: 99%;
	/*background: white;*/
}
textarea{
	width: 100%;
	height: 65%;
}
select {
	float:left;
	position:relative;
	z-index:1;
}
fieldset:first-child {float:none;}
fieldset {
 	border: 0px solid black;
 	height: auto;

}
#checkbox{
	display: inline-block;
	margin: 0;
	vertical-align: middle;
	margin-left: 2px;
}
label{
	display: inline-block;
	margin: 0;
	width: 100%
	vertical-align: middle;
	margin-left: 2px;
}
canvas {
	height: 100%;
}
div {
 width: 79%;
 height: 95%;
 padding-left: 2px;
 padding-right: 2px;
 padding-top: 2px;
 padding-bottom: 2px;

}
.header {
	max-height: 20px;
	height: 8%;
	text-align: center;
	vertical-align: center;
}
.wrapper {
	height: 100%;
	width: 100%;
	position: relative;
}

.3Dcontainer {
	width: 79%;
	padding-left: 2px;
 	padding-right: 2px;
 	padding-top: 2px;
 	padding-bottom: 2px;
	float:left; 
	display:block;
	 min-height: 500px;
	/*width: auto;*/
 	/*height: auto;*/
 	background: black;
}
.controls {
	padding-left: 0px;
 	padding-right: 2px;
 	padding-top: 2px;
 	padding-bottom: 2px;
	position: absolute;
	float:right; 
	display:block;
	width: 20%;

 	top: 0;
 	bottom: 0;
 	right: 0;
 	border: 2px solid black;
 	/* padding-right: -2px;*/
}
.frame-controls {
	/*position: relative;*/
	/*float: top;*/
	/*height: auto;*/
	max-height: 33%;
	width: 100%;

}
