
html,body{
	width: 99%;
	height: 100%;
	background: black;
	overflow: hidden;
}
div.renderingMesh{
	width: 100%;
	height: 100%;
	
}
div.controls{
	width: 20%;
	
}

textarea{
	border: 0px solid black;
	width: 241px;
	height: 15%;
	float:top;
	float: right;
	top: 1%;
 	right: 1%;
 	vertical-align: right;
 	position: absolute;
 	resize:none;
 	/*padding: 2px;*/
}
.dg.main{
		border: 0px solid black;
	width: 20%;
	height: 15%;
	float:top;
	float: right;
	top: 15%;
 	right: 1%;
 	vertical-align: right;
 	position: absolute;
 	resize:none;
}
div {
 width: 100%;
 height: 100%;
 float:top;
}
